<template>
    <div class="home">
        <div>
            <GlobalInput />
            <LetterButtons />
        </div>
        <ScoreBoard />
    </div>
</template>

<script lang="ts">
import { defineComponent, onBeforeUnmount } from 'vue';
import GlobalInput from '../components/GlobalInput.vue';
import { isLetterOfAlphabet } from '@/utilities/StringUtilities';
import { useCurrentWordStore } from '@/stores/CurrentWord';
import { useValidWordsStore } from '@/stores/ValidWords';
import ScoreBoard from '@/components/ScoreBoard.vue';
import LetterButtons from '@/components/LetterButtons.vue';

export default defineComponent({
    name: 'HomeView',
    components: {
        GlobalInput,
        ScoreBoard,
        LetterButtons,
    },
    setup() {
        const { updateCurrentWord, backspace } = useCurrentWordStore();
        const { checkCurrentWord } = useValidWordsStore();

        document.addEventListener('keydown', checkInput);

        onBeforeUnmount(() => {
            document.removeEventListener('keydown', checkInput);
        });

        function checkInput(event: KeyboardEvent) {
            if (event.key === 'Enter') {
                checkCurrentWord();
            }
            else if (event.key === 'Backspace') {
                backspace();
            }
            else if (isLetterOfAlphabet(event.key)) {
                updateCurrentWord(event.key);
            }
        }
    },
});
</script>
<style scoped>

.home {
    display: flex;
    justify-content: center;
    gap: 20px;
}
</style>