<template>
    <span class="current-word">{{ currentWord }}</span>
</template>

<script lang="ts">
import { useCurrentWordStore } from '@/stores/CurrentWord';
import { storeToRefs } from 'pinia';
import { defineComponent } from 'vue';

export default defineComponent({
    name: 'GlobalInput',
    setup() {
        const { currentWord } = storeToRefs(useCurrentWordStore());

        return {
            currentWord,
        };
    },
});
</script>
<style scoped>

.current-word {
    text-transform: uppercase;
}
</style>
