<template>
    <section class="letter-buttons">
        <button v-for="letter in letters"
                :key="letter"
                :class="{ primary: letter == requiredLetter }"
                @click="onLetterClick(letter)">
            {{ letter }}
        </button>
    </section>
</template>

<script lang="ts">
import { storeToRefs } from 'pinia';
import { defineComponent } from 'vue';
import { useValidWordsStore } from '@/stores/ValidWords';
import { useCurrentWordStore } from '@/stores/CurrentWord';

export default defineComponent({
    name: 'LetterButtons',
    setup() {
        const { letters, requiredLetter } = storeToRefs(useValidWordsStore());
        const { updateCurrentWord } = useCurrentWordStore();


        function onLetterClick(letter: string) {
            updateCurrentWord(letter);
        }

        return {
            letters,
            requiredLetter,
            onLetterClick,
        };
    },
});
</script>
<style scoped>
.current-word {
    text-transform: uppercase;
}

button {
    background-color: #fff;
    border-radius: 20%;
}

button.primary {
    background-color: var(--primary);
}
</style>
