<template>
    <section class="score-board elevation--1">
        <p>{{ score }}</p>
        <p v-for="word in foundWords"
           :key="word">
            {{ word }}
        </p>
    </section>
</template>

<script lang="ts">
import { storeToRefs } from 'pinia';
import { defineComponent } from 'vue';
import { useScoreBoardStore } from '@/stores/Scoreboard';

export default defineComponent({
    name: 'ScoreBoard',
    setup() {
        const { score, foundWords } = storeToRefs(useScoreBoardStore());

        return {
            score,
            foundWords,
        };
    },
});
</script>
<style scoped>
.current-word {
    text-transform: uppercase;
}
</style>
