<template>
    <nav>
        <router-link to="/">
            Home
        </router-link> |
        <router-link to="/about">
            About
        </router-link>
    </nav>
    <router-view />
</template>

<style>

:root {
    --primary: #f9f26f;
}

body {
    background-color: #121212;
    color: #FFFFFF;

    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #FFFFFF;
}

nav a.router-link-exact-active {
    color: var(--primary);
}

.elevation--1 {
    background-color: rgba(255, 255, 255, 0.05);
}
</style>
